@charset "utf-8";

/* common */
	* { word-wrap: break-word; }
	ul,ol,li,span,p,form,h1,h2,h3,4,h5,h6,dl,dt,dd { margin: 0; padding: 0; border: 0; z-index:inherit; }
	img,a img { border:0; margin:0; padding:0; }
	ul,ol,li { list-style:none; }
	* { margin:0; padding:0; }
	html,body { height:100%; font:12px/1.6  Microsoft YaHei, Helvetica, sans-serif; color:#4C4C4C; }
	input,select,textarea,button { font:14px/1.5  Microsoft YaHei, Helvetica, sans-serif; }
	body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
	table { empty-cells: show; border-collapse: collapse; }
		caption, th { text-align: left; font-weight: 400; }
	ul li, .xl li { list-style: none; }
	h1, h2, h3, h4, h5, h6 { font-size: 1em; }
	em, cite, i { font-style: normal; }
		a img { border: none; }
	label { cursor: pointer; }
	.bg { background: url(./images/pic_bg.jpg); }
	.rq { color: red; }

	a:link,a:visited,a:hover { color:#4C4C4C; text-decoration:none; }
	.blue { color: #0086CE; }
	a.blue:link, a.blue:visited, a.blue:hover { color:#0086CE; text-decoration:none; }
	.grey { color:#9C9C9C; }
	a.grey:link, a.grey:visited, a.grey:hover { color:#9C9C9C; text-decoration:none; }
	.orange { color:#F60; }
	a.orange:link,a.orange:visited,a.orange:hover{color:#F60;text-decoration:none }

	.z { float: left; } .y { float: right; }
	.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .cl { zoom: 1; }
	.overflow{overflow:hidden;}
	.none { display:none; }
	.vm { vertical-align: middle; }
		.vm * { vertical-align: middle; }
	.hm { text-align: center; }
	
	.bl_none { border-bottom:0 !important; }
	.bl_line { border-bottom:1px solid #DDD; }
	.b_radius {border-radius:10px;}
	
	.b_m { margin:10px;}
	.b_p { padding:10px}
	
	.mtn { margin-top: 5px !important; }
	.mbn { margin-bottom: 5px !important; }
	.mtm { margin-top: 10px !important; }
	.mbm { margin-bottom: 10px !important; }
	.mtw { margin-top: 20px !important; }
	.mbw { margin-bottom: 20px !important; }
	
	.pr, .pc { vertical-align: middle; margin: 0 5px 1px 0; padding: 0;+margin-right: 2px;_margin-right: 2px; }

/*----- header -----*/
	.visitclienttip { background:#BDD5E6; height:30px; padding:5px 10px;border-bottom:1px solid #1C86EE;}
	.visitclienttip p  { line-height:30px; }
	.visitclienttip a.btn_download { background:#3D98CF; border-radius:5px; float:right; display:block; width:70px; text-align: center; line-height:24px; color:#E9EFF3; margin-top:3px; box-shadow:1px 2px 2px rgba(0, 0, 0, 0.1); }
	.visitclienttip a.btn_download:hover {background:#3094CF;}
	
	.nav { background: -webkit-gradient(linear, 0 0, 0 100%, from(#1874CD), to(#1C86EE), color-stop(60%, #1874CD)); height: 32px; text-align:center; font-size:19px; padding:8px 10px 8px 0; }
	.nav .name {display:inline-block; height:30px; overflow:hidden; white-space:nowrap; width:50%; color: #FFF;}
	
	.hdc { padding:1px 1px 0; background: -webkit-gradient(linear, 0 0, 0 100%, from(#1874CD), to(#1C86EE), color-stop(60%, #1874CD)); margin-bottom:1px; }
	.hdc h2 { float: left; padding:8px 8px 0px; }
	.user_fun { }
	.user_fun li { float:right; padding:10px 10px 10px; }
	.user_fun li a,.nav .icon_edit a { display:block; width:28px; height:28px; background: url(./images/icon.png) no-repeat; line-height:2000px; overflow:hidden; }
	.user_fun .on { background: url(./images/arrow_top.png) no-repeat 50% 100%;}
	.user_fun a.icon_userinfo { background-position:0 0;}
	.user_fun a.icon_userinfo:hover,.user_fun .on a.icon_userinfo { background-position:0 -28px;}
	.user_fun a.icon_threadlist { background-position:-28px 0; }
	.user_fun a.icon_threadlist:hover,.user_fun .on a.icon_threadlist { background-position:-28px -28px; }
	.user_fun a.icon_search { background-position: -56px 0;}	
	.user_fun a.icon_search:hover,.user_fun .on a.icon_search { background-position: -56px -28px;}
	.user_fun a.icon_hotthread { background-position: -112px 0;}	
	.user_fun a.icon_hotthread:hover,.user_fun .on a.icon_hotthread { background-position: -112px -28px;}
	#usermsg { position:relative;}
	.user_fun .icon_msg { position: absolute;background: url(./images/icon_msg.png) no-repeat; width:10px; height:10px; display:block; top:14px; left:26px; }
	.nav .icon_edit a { background-position: -84px 0;}	
	.nav .icon_edit a:hover { background-position: -84px -28px;}
	
	.category { position: relative;}
	.category .name { padding:0 10px; display: inline-block; width: 50%; color: #FFF; height:30px; overflow:hidden;white-space:nowrap;}
	.category .name img { margin-left:10px; vertical-align: middle; }
	.category .name .tit {white-space:nowrap; display:inline-block; max-width:90%; overflow:hidden; font-weight:400; }	
	.category .subname_list {position: absolute; top:35px; left:0; width:100%; z-index:10;}	
	.category .subname_list ul {background:#FFF; border:2px solid #DDD; border-top:0; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); width: 118px; font-size:14px; padding:0; line-height:38px; margin: 0 auto;}
	.category .subname_list li { border-bottom:1px solid #EEE; }
	.category .subname_list a:hover { color:#2782BA; }
	.category .subname_list a { display:block; white-space: nowrap; margin: 0 10px; overflow: hidden;}

/*----- forumlist -----*/
	.wp {}
	.wm { margin:1px 10px; }
	.bm { margin-bottom: 10px; }
	.bm_c { padding: 0 10px; }

	.bm_h .o { float: right; width: 31px; }
		.bm_h .o img { float: right; cursor: pointer; }
	.bm_h .i { padding-left: 10px; }
	.bm_h .pn { margin-top: 4px; }
	.bm_h { height: 34px; background: url(./images/titlebg.png) repeat-x left bottom; line-height: 34px; white-space: nowrap; overflow: hidden; }
	.bm_h h2 { height: 34px; background: url(./images/titlebg.png) no-repeat left top; }
	.bm_h:hover { background: url(./images/titlebg.png) repeat-x left -34px; }
	.bm_h h2 a { display:block; margin:0 31px 0 10px; padding-left:10px; font-size:18px; line-height:34px; font-weight:400; }
	
	.sub_forum { background: #FFF; border:1px solid #EDEDED; border-top:0; border-radius: 0 0 5px 5px;}
	.sub_forum li { height:38px; line-height:38px; border-bottom:1px solid #EDEDED; font-size:16px; overflow:hidden; }
	.sub_forum li:last-child { border-bottom:none;}
	.sub_forum li a { display: block; padding:0 10px; }
	.sub_forum li .num { background:#35A3E6; color:#FFF; float: right; font-size: 14px; height: 25px; line-height: 25px; margin-top: 7px; padding: 0 10px;border-radius:10px; }
	
/*-- threadlist --*/
	.threadlist { padding:10px 10px}
	.threadlist .thread_tit { padding: 0 10px; border-bottom:1px solid #D9D8D8; line-height:40px; color: #0162AC; font-size:15px; font-size:700;}
	.threadlist li { position:relative; border-bottom:1px solid #D9D8D8; font-size:16px; }
	.threadlist li a { display:block; padding:7px 10px; font-size:16px; line-height:25px; }
	.threadlist .num { position:absolute; background: url(./images/icon_num.png) no-repeat 0 3px; right:10px; bottom:10px; padding:0 0 0 18px; font-size:12px; color:#C0C0C0; }
	.threadlist .icon_top,.threadlist .icon_tu { position:absolute; left:0; top:-1px;}
	.threadlist .by { font-size:12px; color:#A5A5A5; display:block; }
	
/*----- post -----*/
	.btn_pn { width:44px; height:31px; overflow:hidden; border:0; line-height:31px;}
	.btn_pn_grey { background:#EFEFEF url(./images/btn_s_bg.png) no-repeat 0 0; color:#999;}
	.btn_pn_blue { background:#2498D8 url(./images/btn_s_bg.png) no-repeat 0 -31px; color:#FFF; }
	
	.post_msg_from li,.post_from li{ line-height:38px; padding:0 10px; font-size:16px; }
	.post_msg_from .px,.post_from .px { width:100%; background:none; padding:0; font-size:16px; }
	.post_msg_from textarea,.post_from textarea{ border:0; width:100%; background:none; padding:5px 0; font-size:16px;}
	.post_from .sort_sel { background:none; width:100%; border: 0;font-size:16px; color:graytext; margin-left:-2px; }
	
	.post_imglist { padding:15px 0 0 15px; }
	.post_imglist li { position:relative; float:left; padding: 0 10px 0 0; }
	.post_imglist li .del { position: absolute; left:-5px; top:-10px; }
	.post_imglist li .p_img img { padding:2px; border:1px solid #DDD; }

	.sec_code { padding:10px; color:#999; }
	.sec_code .px { color:#999; }
	
/*----- viewthread -----*/
	.postlist h2 { clear:both; font-size:16px; line-height:1.5em; font-weight:bold; margin:15px 15px 10px 15px; }
	.plc { border-bottom:1px solid #D9D8D8; overflow:hidden; position:relative; }
	.plc .avatar { position:absolute; left:10px; top:9px; display:inline; }
	.plc .avatar img{ margin-left:150px; border:1px solid #D7D7D7; padding:1px; }
	.plc .pi { margin-left:15px; margin-right:10px; padding:7px 0; position:relative;}
	.plc .pi .authi{ position:relative; }
	.plc .pi .authi li em{ float:right; font-style: normal; }	
	.plc .pi .message{ font-size:15px; }
	.plc .pi .message .jammer{ font-size:10px; color:#F0F0F0; }
	.plc .pi .message img,.plc .pi .img_one img { margin:0px 4px 0px 0; max-width:140px; max-height:140px; }
	.plc .pi .message .quote{ padding:10px 10px 7px 11px; margin:5px 0; border:1px dashed #D7D7D7; font-size:12px; }
	.plc .pi .img_list { margin:4px auto; }	
	.plc .pi .img_list li { float:left; width:83px; height:83px; margin:0 4px 4px; text-align:center;vertical-align: middle; line-height:83px; }
	.plc .pi .img_list li a { display:block;}
	
	.manage { margin:4px -10px 0 0; position:absolute; top:38px; right:5px; height:50px; }
	.button { width:53px; height:39px; color:#FFF; background:url(./images/button_bg.png) no-repeat; margin:0 2px; border:0; font-size:12px; }
	.button2 { width:50px; height:32px; color:#FFF; background:url(./images/button_bg2.png) no-repeat; margin:7px 0 3px 0; border:0; font-size:12px; }
	
	.fastpost .input { width:100%; height:34px; text-indent:7px; margin-top:2px; border:1px solid #D9D8D8; } 
	.search { padding:7px 10px;}
	.search .input { width:100%; height:30px; text-indent:7px; margin-top:2px; border:1px solid #D9D8D8;}
		
/*----- pop -----*/	
	.tip { width:300px; height:180px; background: url(./images/pic_bg.jpg) repeat; margin:0 auto;border:1px solid #D7D7D7; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;text-align:center;
	}
	    .tip dt { padding:30px 20px; height:75px; font-size:15px; }  
		.tip dd { background:#FFF; border-top:1px solid #D7D7D7; }
		.tip dd a { margin-left:15px; }
	
/*----- page -----*/
	.page { text-align:center; margin:20px 10px; }	 
		.page a { border:1px solid #D7D7D7; border-radius:5px; padding:5px 9px; background:#FFF; } 
	.page select{ border: 1px solid #CCC; height: 28px;}

/*----- myinfo -----*/
	.user_avatar { text-align:center; margin:20px 0; }
		.user_avatar img { border-radius:45px; border:1px solid #FFF; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); width:60px; height:60px; }
		.user_avatar .name { color:#2782BA; font-size:16px; line-height:40px; }

	.user_box { background:#FFF; border-radius:10px; border:1px solid #DDD; margin:0 10px; }
		.user_box li { line-height:38px; border-bottom:1px solid #DDD; padding:0 20px 0 10px; color:#333; font-size:14px; font-weight:700; }
		.user_box li span { color:#2782BA; float:right; }
		.btn_exit { padding:10px; }
		.btn_exit a { background: url(./images/exit.png) no-repeat; width:300px; height:41px; display:block; line-height:2000px; overflow:hidden; margin:0 auto; }
			.btn_exit a:hover { background: url(./images/exit_on.png) no-repeat;}

	.myinfo_list { width:300px; margin:0 auto; }
	.myinfo_list li { background: url(./images/my_subject_bg.png) no-repeat; width:145px; height:73px; float:left; margin:0 0 10px 5px; }
		.myinfo_list li a { display:block; line-height:73px; text-align:center; font-size:16px; }
		.tit_msg { position: relative; }
		.tit_msg img { position:absolute; left:108px; top:28px; }
		
/*----- view message -----*/
	.friend_msg { padding:5px 0; }
	.friend_msg .avat img,.self_msg .avat img{ padding:1px; background: #F2F2F2; border: 1px solid #BABABA; display: inline-block; }
	.self_msg { padding:5px 0; }
	.friend_msg .date { color:#BEBEBD; padding-left:12px; }
	.self_msg .date { color:#BEBEBD; padding-right:12px; text-align:right; }
	
	.dialog_green .dialog_c { background: url(./images/dialog_bg.png) repeat-y; width:230px;}
	.dialog_green .dialog_t { background: url(./images/dialog_t.png) no-repeat left top; width:180px;font-size:15px; line-height:25px; padding:15px 25px 0 25px;}
	.dialog_green .dialog_b { background: url(./images/dialog_b.png) no-repeat left bottom; width:230px; height:17px; overflow:hidden; }
	.dialog_white .dialog_c { background: url(./images/dialog_bg.png) repeat-y right top; width:230px; }
	.dialog_white .dialog_t { background: url(./images/dialog_t.png) no-repeat right top; width:180px;font-size:15px; line-height:25px; padding:15px 25px 0 25px;}
	.dialog_white .dialog_b { background: url(./images/dialog_b.png) no-repeat right bottom; width:230px; height:17px; overflow:hidden; }
	
	.reply .px { border-radius:4px; padding:7px 10px; width:95%; border:1px solid #D9D8D8; }
	.reply .px:focus { color:#4C4C4C;}

/*----- login & register -----*/
	.loginbox { padding:10px;}
	.login_from { background:#FFF; border-radius:10px; border:1px solid #DDD; margin-bottom:15px; }
	.login_from li { border-bottom:1px solid #DDD; line-height:45px; padding:0 10px; color:#AFAFAF; font-size:14px; }
		.btn_login .pn,.btn_register .pn { background: url(./images/login.png) no-repeat; width:289px; height:45px; display:block; line-height:46px; overflow:hidden; margin:0 auto; color:#FFF; font-size:16px; font-weight:700; text-align:center;border:0; }
		.btn_login .pn:hover,.btn_register .pn:hover { background: url(./images/login_on.png) no-repeat; color:#F0EFEF; }
		.btn_qqlogin a { background: url(./images/qqlogin.png) no-repeat; width:300px; height:45px; display:block; line-height:2000px; overflow:hidden; margin:0 auto; }
		.btn_qqlogin a:hover { background: url(./images/qqlogin_on.png) no-repeat; }
		.loginbox p { line-height:35px; font-size:14px; color:#AFAFAF;}
		.reg_link a { background: url(./images/icon_arrow.png) no-repeat 100% center; padding-right:10px; color:#AFAFAF; }
		.px{ border:1px solid #ddd; padding: 2px 4px; line-height: 17px; font-size:15px; }
		.px:focus { color:#4C4C4C;}
		.p_fre { width: auto !important; }
		.sel_list { width:100%;border: 0; padding: 2px 4px; font-size:14px; font-weight:700; }
		.login_select { display: block; position: relative;}
		.login_select .login-btn-inner { display: block; font-size: 14px; font-weight:700; min-width: 0.75em; overflow: hidden; position: relative; text-overflow: ellipsis; white-space: nowrap; }
		.login_select select { position: absolute; top: 0; width: 100%; z-index: 2; cursor: pointer; height: 3em; left: 0; max-height: 100%; min-height: 100%; opacity: 0.0001;}
		.login-btn-text { float:left; }
		.login_select .icon-arrow { background: url(./images/icon_arrow.png) no-repeat 15px 17px; width:30px; height:30px; float:right; }
	
	.login_pop { background:#F1F1F1; padding: 0 14px 20px; }	
	.log_tit { text-align:center; font-size:16px; font-weight:700; line-height:45px; }
	.icon_close { background: url(./images/icon_close.png) no-repeat 0 0; width:13px; height:11px; overflow:hidden; display:block; margin-top:17px; }
	.btn_qqlogintext { margin:10px 0; }
	.btn_qqlogintext a.text_qqlogin { background: url(./images/qqlogintext.png) no-repeat; width:120px; height:25px; display:block; line-height:2000px; overflow:hidden; }
	.login_pop .login_from { margin-bottom: 10px; }
	.login_pop .login_check { margin:0 0 10px 0; color:#A5A5A5; }
	.q_reg a { color:#A5A5A5; font-size:14px; }
	.s_code { color:#A5A5A5; }
	.s_code .px { color:#A5A5A5; }
	.s_code .px:focus { color:#4C4C4C; }
	a.other_c { color:#A5A5A5; margin-left:5px; }
	
/*----- collection -----*/
	.coll_list { background:#FFF; margin:10px; border:1px solid #DDD; padding:0 10px; }
		.coll_list li { border-bottom:1px solid #DDD; line-height:45px; }
			.coll_list li a { display:block; font-size:16px; padding: 0 0 0 10px; }

	.jump_c { padding:130px 25px; font-size:15px; }
	.grey { color:#A5A5A5; }
	.jump_c a { color:#2782BA; }
	
/*----- page message & pm-----*/
	.pmbox li { position:relative; color:#A5A5A5; border-bottom:1px solid #DDD; font-size:14px; height:55px; overflow:hidden; }
	.pmbox li .avatar_img img { background:#F2F2F2; position:absolute; left:10px; top:7px; border:1px solid #E9E9E9; padding:2px; display:inline-block; }
	.pmbox li a { display:block; padding:5px 10px 5px 55px; }
	.pmbox li .num { background:#35A3E6; color:#FFF; float: right; font-size: 14px; height: 21px; line-height: 21px; padding: 0 10px;border-radius:10px; }
	.pmbox li .time { float:right; }
	.pmbox li .name { color:#333; }
	.grey { color:#A5A5A5; }
	
/*----- clew con -----*/
	.clew_con { padding:10px; }
	.clew_con .tit {line-height:40px; font-size:14px; }
	.clew_con p { margin:10px 0; }
	.clew_con  .button {background:#3D98CF; border-radius:5px; display:inline-block; margin-left:6px; margin-top:3px; width:80px; height:26px; text-align: center; line-height:24px; color:#E9EFF3; box-shadow:1px 2px 2px rgba(0, 0, 0, 0.1); cursor: pointer; }
	.clew_con  .button:hover {background:#3094CF;}
	
	
/*----- footer -----*/
	.footer { background: url(./images/u179footer.png) no-repeat top center; text-align:center; line-height:2em; color:#A5A5A5; padding:10px 0 0 0; }
		.footer a { margin:0 6px; color:#A5A5A5; }

/*----- to top --------*/
	.scrolltop { display:block; position:fixed; right:8px; height:38px; width:38px; z-index:99; background:rgba(64, 64, 64, .9); border-radius:1px; box-shadow:0 0 2px rgba(0,0,0,.3); }
	.scrolltop:after { content:""; position:absolute; top:11px; left:10px; width:18px; height:3px; border-radius:1px; background:white; border-radius:1px; }
	.scrolltop:before { content:""; position:absolute; top:15px; left:10px; display:inline-block; border-left:9px solid transparent; border-right:9px solid transparent; border-bottom:9px solid white; border-top:0; -webkit-transform:scale(1,1.2222); -webkit-transform:translate(0,1px); transform:scale(1,1.2222); transform:translate(0,1px); }
	.scrolltop.bottom { bottom:8px; }
	.scrolltop.bottom:after { top:23px; }
	.scrolltop.bottom:before { border-top:9px solid white; border-bottom:0; top:12px; }

	
	
	
/*! 2015.8.31更新CSS样式 */
.b_p{padding:10px}
.brtb{border-top:1px solid #fff !important;border-bottom:1px solid #e5e5e5 !important;}
.mbn{margin-bottom:5px !important;}
.u179_y{float:right;}
.u179_y a{display:inline-block;height:11px;padding:3px 5px;margin-left:6px;line-height:11px;background:#e5e5e5;overflow:hidden;}
.u179_y{display:none;}
.xi2{color:#aaa !important;}
.xi2,.xi2 a{color:#005088 !important;}
.xg1,
.xg1 a,
.xg1 
.xg3{color:#aaa !important;}
.mtn{margin-top:5px !important;}
.bt{padding:10px 7px;}
.pt{padding:14px 10px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#1874CD), to(#1C86EE), color-stop(60%, #1874CD));font-size:15px;line-height:15px;border-top:0px solid #fff;border-bottom:0px solid #e5e5e5;}
.pt .pth{line-height:18px;font-size:14px;}
.pt p{padding-top:8px;margin:10px 0 -5px -1px;color:#FFF;font-size:12px;border-top:1px #e0e0e0 dashed;}
.bm_c{padding:0 10px;}
.mbm{margin-bottom:10px !important;}
.mtm{margin-top:10px !important;}
.ctt {border:none;background:none;}
.doing li{padding:10px 10px 10px 48px;position:relative;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;}
.doing li img{width:14px;}
.doing 
.avatar img{width:28px;height:28px;position:absolute;left:10px;top:10px;}
.doing_user{padding:0px 0px 10px;color:#888;}
.doing_user a{color:#005088;}
.doing_tls p{padding:6px 0px;border-bottom:1px dashed #e5e5e5;}
.doing_tls p,
.doing_tls p a{color:#999;font-size:12px;}
.doing_post{padding:10px;overflow:hidden;background:#eee;border-radius:6px 6px 0 0;border-bottom:1px solid #e5e5e5;}
.doing_txt{height:60px;background:#fcfcfc;border:1px solid #e0e0e0;border-radius:3px;}
.doing_txt table{width:100%;}
.doing_txt textarea{width:100%;height:50px;padding:5px;color:#666;border:none;background:none;}
.doing_txt th{width:52px;padding:0px 0px 0px 10px;}
.doing_txt button{width:52px;height:60px;line-height:60px;font-size:17px;color:#ffffff;background:#1874CD;border:none;border-radius:0 2px 2px 0;margin:0px;padding:0xp;display:block;}
.pgbox{padding:10px 0px;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;}

/*! 2015.9.2更新CSS样式 */
.ftfm{padding:9px 10px;font-size:15px;}
.ftfm th{padding:0px 10px;width:160px;}
.ftfm p input{height:22px;width:100%;line-height:22px;font-size:15px;color:#777;}
.ftfm button{height:26px;line-height:26px;}
.friend_avt{width:38px;height:38px;position:absolute;top:9px;left:10px;overflow:hidden;}
.friend_avt img{width:38px;height:38px;}
.friend_avt{width:38px;height:38px;position:absolute;top:9px;left:10px;overflow:hidden;}
.friend_avt img{width:38px;height:38px;}
.vm{vertical-align:middle;}
.vm *{vertical-align:middle;}
.pipe{margin:0px 6px;}
.pgbox{padding:10px 0px;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;}
.wmt{padding:15px 10px;line-height:18px;text-align:center;color:#999;}
.brtb{border-top:1px solid #fff !important;border-bottom:1px solid #e5e5e5 !important;}
.wml{padding:15px 10px;line-height:18px;color:#999;}#cats,#cato{padding-right:12px;background-image:url(../images/arrow_1.png);background-repeat:no-repeat;background-position:100% 0;}
.brtb{border-top:1px solid #fff !important;border-bottom:1px solid #e5e5e5 !important;}
.buddy li{height:38px;padding:9px 10px 9px 58px;position:relative;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;}

/*! 2015.9.8更新CSS样式 */
.nmt{height:28px;padding:9px 10px;text-align:center;background-color:#f5f5f5;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;overflow:hidden;}
.nmt a{float:left;display:inline-block;width:60px;margin-right:4px;padding:7px 0px;background-color:#e6e6e6;color:#777;border-radius:3px;line-height:14px;font-size:14px;}
.nmt #cato
.nmt #cats
.ccat{background:#f7f7f7;}
.ccat a{display:block;padding:16px 50px 16px 10px;color:#444;text-decoration:none;position:relative;z-index:1;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;}
.ccat a:after{content:'';right:10px;top:39%;}
.ccat a span{float:right;color:#fff;padding:2px 4px;background:#f60;}
.clt{padding:10px 10px 9px;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;}
.clt h1{padding:2px 0 8px;font-size:20px;line-height:24px;}
.clt h1 span{margin-left:6px;font-size:14px;color:#f60;}
.clt 
.clt img{float:left;width:120px;height:92px;margin:3px 9px 0 1px;}
.mess{line-height:20px;font-size:14px;color:#666;overflow:hidden;}
.mess{padding:10px 10px 5px;line-height:150%;font-size:15px;color:#666;border-top:1px solid #fff;}
.mess img{max-width:100%;}
.mess embed{max-width:100% !important;height:260px !important;}
.mess{padding-bottom:3px;line-height:20px;color:#555;}
.mess br{display:none;}
.sp{padding:8px 0 0;text-align:right;}
.pipe{margin:0px 6px;}
.a_pg{color:#aaa;text-align:center;text-shadow:0 1px 2px #fff;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;font-size:15px;line-height:15px;}
.a_pg a{display:block;color:#666;padding:15px 0px;}
.a_pg #ajaxld{display:none;color:#666;padding:15px 0px;}
.a_pg #ajaxld img{width:10px;height:10px;}
.a_pg{background:#f6f6f6;}
.a_pg{background:none;}
.a_pg a{border:none;}
.pgbox{padding:10px 0px;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;}
.notb{border-top:none !important;}
.vt_th{line-height:28px;font-size:20px;padding:16px 10px 10px;font-weight:100;border-top:1px solid #fff;}
.vt_th span{margin-left:6px;font-size:14px;color:#f60;}
.user_first{padding:1px 10px 14px;color:#888;border-bottom:1px solid #e3e3e3;}
.user_first a{color:#005088;}
.fav{float:right;height:11px;padding:3px 5px;margin-top:-2px;line-height:11px;background:#e5e5e5;overflow:hidden;}
.nsj{padding:9px 10px 7px;background:#fcfcfc;overflow:hidden;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;}
.nsj li{padding:4px 0px 4px 1px;overflow:hidden;}
.nsj a{color:#777;}

/*! 2015.9.10更新CSS样式 */
.pc{margin:0;padding:0;}table{empty-cells:show;border-collapse:collapse;}caption,th{text-align:left;font-weight:400;}
.pc{vertical-align:middle;margin:0 5px 1px 0;padding:0;+margin-right:2px;_margin-right:2px;}

/*! 2015.9.23更新CSS样式 */
.u179_group { padding-top:18px; }
.u179_group_box { width:66px; height:66px; float:left; margin-right:10px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border:1px solid #CCCCCC; display:block; overflow:hidden; }
.u179_group_box_img { width:24px; height:24px; margin:8px auto; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; overflow: hidden; }
.u179_group_box_hide { height:10px; line-height:10px; background:#FFFFFF; }
.u179_group_box_div { background:#333333; padding:16px 0 16px 8px; }
.u179_group_box_div_box { width:66px; height:66px; float:left; margin:0 8px 8px 0; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border:2px solid #CCCCCC; display:block; overflow:hidden; background:#FFFFFF; box-shadow:1px 2px 2px rgba(0, 0, 0, 1.0); }
.u179_group_box_div_img_bg { width:24px; height:24px; margin:6px auto 2px auto; padding:2px; border:1px #CCCCCC solid; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }	
.u179_group_name { line-height:13px; }
.u179_group_img24_box { width:24px; height:24px; padding:2px; border:1px solid #CCCCCC; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.u179_group_img32_box { width:32px; height:32px; padding:2px; border:1px solid #CCCCCC; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; margin:0 auto; }
.u179_group_img24 { width:24px; height:24px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; overflow: hidden; }
.u179_group_img32 { width:32px; height:32px; -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; overflow: hidden; }
.u179_group_img24_box { width:24px; height:24px; padding:2px; border:1px solid #CCCCCC; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.u179_group_img24_box { width:24px; height:24px; padding:2px; border:1px solid #CCCCCC; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.u179_group_img24 { width:24px; height:24px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; overflow: hidden; }
.u179_dy { color: #DDDDDD; }
a.u179_dy:link, a.u179_dy:visited, a.u179_dy:hover { color:#DDDDDD; text-decoration:none; }
.u179_search_yh { font-size:36px; font-family:Verdana, Geneva, sans-serif; height:22px; line-height:22px; color:#AAAAAA; }
.u179_comment_list_tex_title { padding-bottom:6px; font-size:18px; line-height:22px; font-weight:bolder; }	
#u179_group_index_list { margin-top:30px; }
#u179_group_index_list_cat { padding:6px 0; }
#u179_group_index_list_cat_bar { min-width:30px; height:20px; font-weight:bold; line-height:20px; -moz-border-radius:0 11px 11px 0; -webkit-border-radius:0 11px 11px 0; border-radius:0 11px 11px 0; background:#1874CD; padding:1px; float:left; margin-bottom:6px; }
#u179_group_index_list_cat_name { min-width:16px; float:left; padding-left:6px; padding-right:6px; color:#000000; white-space:nowrap; }
#u179_group_index_list_cat_num { min-width:14px; height:20px; float:left; padding:0 3px; color:#809FFE; background:#000000; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; text-align:center; }
#u179_group_index_list_fid { float:left; width:32.6%; height:36px; overflow:hidden; background:#EEEEEE; text-align:center; margin:1px; }
#u179_group_index_list_fid_name { padding:6px; display:block; }	
#u179_group_my_name { text-align:center; white-space:nowrap; overflow:hidden; }
#u179_group_my_float { width:33.2%; float:left; display:block; margin-bottom:11px; }	
#u179_group_mem_card { width:81px; float:left; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2); margin:6px; padding:6px 3px; text-align:center; white-space:nowrap; overflow:hidden; display:block; }	
#u179_group_title_line { border-bottom:1px dashed #CCCCCC; height:0px; line-height:0px; }
#u179_group_title { text-align:center; margin:0 auto; margin-top:-10px; background:#FFFFFF; }	
#u179_group_index_top { font-size:14px; height:38px; line-height:38px; text-align:center; color:#4C4C4C; background:#F8F8F8; }
#u179_group_index_float_1 { width:24.7%; float:left; border-right:1px solid #CCCCCC; background:#FFFFFF; display:block;}
#u179_group_index_float_3 { width:24.7%; float:left; border-bottom:1px solid #CCCCCC; border-right:1px solid #CCCCCC; display:block; }
#u179_group_index_float_3:hover { width:24.7%; float:left; border-bottom:1px solid #CCCCCC; display:block; background:#FFFFFF; }
#u179_group_index_header { width:80%; margin:0 auto; text-align:center; padding:8px 4px 8px 0; }
#u179_group_index_name { text-align:center; font-size:16px; font-weight:bolder; padding:8px 0; }	
#u179_group_main { background:#FFFFFF; padding-top:8px; }
#u179_group_type { font-size:14px; font-weight:bold; padding:11px 8px; border-bottom:1px dashed #CCCCCC; }
#u179_group_type_list { display:block; line-height:24px; border-bottom:1px dashed #CCCCCC; padding:8px 8px 16px 8px; }
#u179_search_mem { width:81px; float:left; text-align:center; white-space:nowrap; margin:6px; padding:6px 3px; display:block; }
#u179_search_mem_card { width:81px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2); padding:6px 3px; text-align:center; white-space:nowrap; overflow:hidden; display:block; }
.mmt{height:28px;padding:9px 10px;text-align:center;background-color:#f5f5f5;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;overflow:hidden;}
.mmt_gd a{width:80px;}
.blog li{min-height:30px;padding:10px 10px 10px 48px;position:relative;}
.blog_avt{width:28px;height:28px;position:absolute;top:10px;left:10px;overflow:hidden;}
.blog_avt img{width:28px;height:28px;}
.blog h1{font-size:18px;line-height:18px;}
.message{font-size:15px;}
.message{line-height:22px;overflow:hidden;}
.message img{float:right;margin-left:10px;}
.blog_bt{text-align:right;padding:10px 9px;border-bottom:1px solid #e5e5e5;}
.blog_bt a{display:inline-block;height:11px;padding:3px 5px;margin-left:6px;line-height:11px;background:#e5e5e5;overflow:hidden;}
.blogc{padding:10px 10px 10px 48px;position:relative;} 
.blogc_avt{width:28px;height:28px;position:absolute;top:10px;left:10px;overflow:hidden;}
.blogc_avt img{width:28px;height:28px;}
.blog_bt{text-align:right;padding:10px 9px;border-bottom:1px solid #e5e5e5;}
.blog_bt a{display:inline-block;height:11px;padding:3px 5px;margin-left:6px;line-height:11px;background:#e5e5e5;overflow:hidden;}
.titls{padding:10px 10px 8px;background-color:#f4f4f4;}
.post_from li{line-height:38px;padding:0;font-size:15px;margin-right:14px;} 
.post_from{font-size:15px;}
.hm{text-align:center;}
.bl_line{border-bottom:1px solid #DDD;}
.album{padding-bottom:10px;overflow:hidden;}
.album ul{}
.album li{float:left;margin:10px 0px 0px 10px;width:100px;height:93px;overflow:hidden;position:relative;}
.album li img{width:100px;height:93px;border:1px solid #eee;float:left;}
.album li p{position:absolute;bottom:0px;left:0px;width:93px;padding:8px 0px;text-align:center;opacity:0.5;color:#fff;background:#222;}
.wmt{padding:15px 10px;line-height:18px;text-align:center;color:#999;}
.photo{width:280px;height:100%;padding:10px;margin:30px auto 5px;border-radius:8px;overflow:hidden;}
.photo_t{width:280px;height:100%;line-height:28px;overflow:hidden;}
.photo_a{width:280px;height:100%;overflow:hidden;display:inline-block;}


/*! 2016.02.21更新CSS样式 */
.catlist {background:#FFF; margin-top:1px; overflow:hidden;}
.catlist h1 {
	font-size:14px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.catlist li {min-height:80px;position:relative; padding: 0 1.2rem;}
.catlist a.a {display:block;height:38px;padding:10px 0px 10px 80px;position:relative;z-index:1;}
.catlist a.a span {	position:absolute;top:9px;right:13px;color:#fff;padding:1px 5px;margin-top:10px;border:2px solid #fff;border-radius:10px;}
.catlist ul img {position:absolute;	width:70px;	height:65px;top:11px;z-index:2;}
.catlist .f_nm {margin-bottom:6px;padding-top:3px; overflow:hidden;}
.catlist .f_dp {height:13px;line-height:13px; overflow:hidden;}
.catlist .f_dp em { margin-right:10px;}
.forum_col2 li { float:left; width:50%;}
.brtb {border-top:0px solid #eaeaea !important;border-bottom:1px solid #eaeaea !important;}

/*! 2018.08.04更新CSS样式 */
.top .m_nav {
	margin-top: 10px;
	float: left;
	margin-left:6px;
	width: 100%;
}
.top .m_nav img {
	height: 44px;
}

.top .m_nav a {
	width: 24%;
	text-decoration: none;
	height: 100px;
	text-align: center;
	float: left;
	margin-top: 10px;
}
.top .m_nav a span {
	width: 100%;
	float: left;
	line-height: 40px;
	font-size: 14px;
	color: #666666;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.top .m_banner {
	padding: 5px;

}
.top .m_nav {
	margin-top: 60px;
	float: left;
	width: 100%;
}
.top .m_nav img {
	height: 44px;
}

.top .m_nav a {
	width: 24%;
	text-decoration: none;
	height: 100px;
	text-align: center;
	float: left;
	margin-top: 10px;
}
.top .m_nav a span {
	width: 100%;
	float: left;
	line-height: 40px;
	font-size: 14px;
	color: #666666;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.count09 { padding-top: 5px; padding-bottom: 5px; overflow: hidden; }
.count09 dl { width: 33.33%; text-align: center; line-height: 28px; float: left; }
.count09 dl em { display: block; color: #777; font-size: 20px; }
.bg-09 { background: #fff; }
.bbs09 { border-bottom: 1px solid #EBEBEB;}
.u179wap09, .time { color: #999;}
.u179wap09.tac { padding-top: 10px; padding-bottom: 10px;}
.u179wap09.tac img { display: block !important; margin: auto;}


body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #FFFFFF; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 48px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#1874CD), to(#1C86EE), color-stop(60%, #1874CD)); box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; position:relative; text-align:center; }

.top_menu li:first-child { background:none; }

.top_bar .top_menu>li>a { height:48px; margin-right: 1px; display:block; text-align:center; color:#FFF; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.3); -webkit-box-flex:1; }

.top_bar .top_menu>li.home { max-width:70px }

.top_bar .top_menu>li.home a { height: 60px; width: 60px; margin: auto; border-radius: 60px; position: relative; top: -14px; left: 0px; background: url(./images/home.png) no-repeat center center; background-size: 100% 100%; }

.top_bar .top_menu>li>a label { overflow:hidden; margin: 0 0 0 0; font-size: 12px; display: block !important; line-height: 18px; text-align: center; }

.top_bar .top_menu>li>a img { padding: 3px 0 0 0; height: 24px; width: 24px; color: #fff; line-height: 48px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { text-align:left; position:absolute; right:10px; z-index:500; background: -webkit-gradient(linear, 0 0, 0 100%, from(#1874CD), to(#1C86EE), color-stop(60%, #1874CD)); border-radius: 5px; width: 120px; margin-top: 10px; padding: 0; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font.hidden { display:none; }

.menu_font { top:inherit !important; bottom:60px; }

.menu_font li a { height:40px; margin-right: 1px; display:block; text-align:center; color:#FFF; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.3); -webkit-box-flex:1; }

.menu_font li a { text-align: left !important; }

.top_menu li:last-of-type a { background: none; }

.menu_font:after { top: inherit!important; bottom: -6px; border-color: #1C86EE rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); border-width: 6px 6px 0; position: absolute; content: ""; display: inline-block; width: 0; height: 0; border-style: solid; left: 80%; }

.menu_font li { border-top: 1px solid rgba(255, 255, 255, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.menu_font li:first-of-type { border-top: 0; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 40px; line-height: 40px !important; position: relative; color: #fff; display: block; width: 100%; text-indent: 10px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.menu_font li a img { width: 20px; height:20px; display: inline-block; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.menu_font>li>a label { padding:3px 0 0 3px; font-size:14px; overflow:hidden; margin: 0; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background: -webkit-gradient(linear, 0 0, 0 100%, from(#1874CD), to(#1C86EE), color-stop(60%, #1874CD)); }

.menu_font li a:hover, .menu_font li a:active{ background: -webkit-gradient(linear, 0 0, 0 100%, from(#1874CD), to(#1C86EE), color-stop(60%, #1874CD)); }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}